h1 {
    color: white;
    font-size: 40px;
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

h4 {
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 24px;
}

header {
    background-color: #7a9f79;
    height: 60px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    float: right;
    width: 100%;
    position: fixed;
    padding: 30px;
    z-index: 4;
}


#werelddelen {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    background-color: #acd1af;
    float: right;
    border-radius: 5px;
    border: 2px solid black;
    border-color: black;
    text-align: center;
    padding: 20px 0px 0px 100px;
    position: fixed;
    margin: 121px 0px 0px 0px;
    z-index: 3;
}

#list {
    background-color: #006a4e;
    width: 15%;
    height: 125%;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    padding: 10px 0px 0px 20px;
    line-height: 40px;
    margin: 179px auto;
    z-index: 1;
}


.continent {
    display: flex;
    justify-content: space-around;
    padding: 15%;
    flex-wrap: wrap;
    margin: 0px 0px -135px 210px;
}

#Kenia {
    text-align: center;
    height: auto;
    margin: 50px 0px 50px 0px;
}

#Tanzania {
    text-align: center;
    height: auto;
    margin: 50px 0px 50px 0px;
}
#Zimbabwe {
    text-align: center;
    height: auto;
    margin: 50px 0px 50px 0px;
}

#Zuidafrika {
    text-align: center;
    height: auto;
    clear: right; 
    margin: 50px 0px 50px 0px; 
}

.algemeneinfo {
    margin: 0px 0px 1px 0px;
    float: right;
    height: 80px auto;
    width: 99%;
    background-color:#acd1af;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    position: relative;
    padding: 33.1px;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 2;
}

#telefoon {
    text-align: center;
    height: auto;
}

#mail {
    text-align: center;
    height: auto;
}

#locatie {
    text-align: center;
    height: auto;
}

#facebook {
    text-align: center;
    height: auto;
}

#instagram {
    text-align: center;
    height: auto;
}

#twitter {
    text-align: center;
    height: auto;
}
